# OS-Files
.DS_Store

# IntelliJ files
.idea/
*.iml
*.ipr
*.iws
out/

# Gradle files
.gradle/
build/
**/build/

# Keep the Jar (wird auf der Webseite so verlangt, damit alle das genau gleich bauen können)
!gradle/wrapper/gradle-wrapper.jar

# Keine Binaries oder kompilierte Files
*.class

# Ignore log files
*.log
hs_err_pid*
replay_pid*

# Project specific files
.classpath
.project
*.eml

# Persistence & Data (runtime highscores stay local)
highscores.csv

# Ignore lwjgl files
.lwjgl/
*.dll
*.so
*.dylib
*.jnilib
